@{
    Layout = null;
    ViewBag.Title = "Đăng nhập";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b style="font-size: 28px">Đăng nhập hệ thống </b>VPH1</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Thông tin đăng nhập</p>

                <form action="" method="post" id="form_act">
                    <div class="input-group mb-3">
                        <input type="text" id="txt_taikhoan" name="txt_taikhoan" class="form-control" placeholder="Tài khoản">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="txt_matkhau" name="txt_matkhau" class="form-control" placeholder="Mật khẩu">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Ghi nhớ mật khẩu
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-5">
                            <button type="button" id="btn_login" class="btn btn-primary btn-block">Đăng nhập</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#btn_login").click(function () {
                var tk = $("#txt_taikhoan").val();
                if (!tk) {
                    alert("Tài khoản không được để trống");
                    $("#txt_taikhoan").focus();
                }
                else {
                    var mk = $("#txt_matkhau").val();
                    if (!mk) {
                        alert("Mật khẩu không được để trống");
                        $("#txt_matkhau").focus();
                    }
                    else {
                        var form = $('#form_act')[0];
                        var formData = new FormData(form);

                        $.ajax({
                            type: "POST",
                            data: formData,
                            url: '/TaiKhoan/Login_act',
                            processData: false,
                            contentType: false,
                            cache: false,
                            success: function (response) {
                                var rs = JSON.parse(response);
                                alert(rs.ErrDesc);
                                if (rs.ErrCode == 1) {
                                    window.location.href = window.location.origin + "/TaiKhoan/Index";
                                }
                            },
                            error: function (rs) {
                                alert("Có lỗi xảy ra trong quá trình đăng nhập, vui lòng quay lại sau!");
                            }
                        })
                    }
                }
            })
        })
    </script>
</body>
</html>


